.addItemContainer {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
}

.inputField, .textareaField {
  width: 90%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textareaField {
  resize: vertical; /* Allows the user to resize the textarea vertically */
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  flex-grow: 1; /* Ensures buttons take up equal space */
}

.createButton {
  background-color: #007bff; /* A shade of blue */
  margin-right: 10px; /* Adds some space between the buttons */
}

.createButton:hover {
  background-color: #0056b3;
}

.cancelButton {
  background-color: #6c757d; /* A shade of gray */
}

.cancelButton:hover {
  background-color: #5a6268;
}
.error {
  color: #d32f2f; /* Red color for errors */
  margin-bottom: 15px; /* Space before the form starts */
}
