.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; 
}

.container div {
  margin-bottom: 10px;
}

.container label {
  display: block;
  font-weight: bold;
  color: #333; 
}

.container input[type="text"],
.container textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container textarea {
  resize: vertical;
}

.container input[type="text"]:focus,
.container textarea:focus {
  border-color: #007bff; 
  outline: none; 
}

.container textarea {
  min-height: 100px; 
}

.container button {
  background-color: #007bff; 
  color: #fff; 
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}



/*
.addItemContainer {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addItemContainer > div {
  margin-bottom: 10px;
}

.addItemContainer label {
  display: block;
  font-weight: bold;
}

.addItemContainer input[type="text"],
.addItemContainer textarea {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.addItemContainer textarea {
  resize: vertical;
}

.addItemContainer button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addItemContainer button:hover {
  background-color: #0056b3;
}
*/
