/*
.buttonList {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}
*/

/* ButtonList.module.css */
.buttonList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}

.deleteButton {
  border: none;
  border-radius: 10px;
  width: 30px;
  height: 30px;
}

.deleteButton:hover {
  background-color: #d9d9d9;
}

.editButton {
  border: none;
  border-radius: 10px;
  width: 30px;
  height: 30px;
}

.editButton:hover {
  background-color: #d9d9d9;
}

.itemContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
