.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #f0f0f0;
  width: 80%;
  height: 80%;
  border-radius: 10px;
}

.logo {
    width: 50px;
    height: 50px;
}

.input_section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.submit-button {
    background-color: #4CAF50;
}
  
.submit-button:hover {
    background-color: #3e8e41;
}