.container {
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  width: 350px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: auto;
}

.input_section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_section form input,
.input_section form button {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.input_section form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.input_section form button:hover {
  background-color: #0056b3;
}

.toggleForm {
  background: none;
  color: #007bff;
  padding: 5px;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  align-self: center; 
}

.toggleForm:hover {
  background-color: #0056b3;
}
