
.mainContent {
    display: flex;
    margin-top: 20px;
  }
  
  .card {
    flex: 1;
    background-color: rgb(225, 223, 223);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
    max-width: 200px;
  }
  
  .content {
    flex: 3;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
  }
 